@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
  
}

button {
  border: 1px solid rgb(1, 12, 19);
  border-radius: 5px;
  background-color: rgb(140, 205, 231);
  color: rgb(5, 46, 71);
  text-align: center;
  padding: 5px;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:checked + label {
  text-decoration: line-through;
  color: rgb(26, 25, 25);
}
